<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         cacheDirectory="var/.phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         backupGlobals="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnEmptyTestSuite="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./test/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./test/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>